{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tr class="table-dark">
            <th>Notes</th>
        </tr>
   {% set somme = 0  %}
   {% set taille = 0  %}
   {% for note in notes%}
       {% set somme = somme + note  %}
       {% set taille = taille + 1  %}
       <tr class="
            {% if(loop.index is even) %}
                table-danger
            {% else  %}
                table-warning
            {% endif %}">
           <td>{{ note }}</td>
       </tr>
   {% endfor %}
    </table>
    <div class="alert alert-info">
        Nombre des notes : {{ notes | length }}
    </div>
    <div class="alert alert-danger">
        Note minimale : {{  min(notes) }}
    </div>
    <div class="alert alert-success">
        Note maximale : {{ max(notes) }}
    </div>
    <div class="alert alert-success">
        Note moyenne : {{ somme / taille }}
    </div>
{% endblock %}

{% block title %}
    Liste des notes
{% endblock %}