{% extends 'layout.html.twig' %}
{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for key, message in app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            {{  message }}
        </div>
    {% endfor %}
    <div class="row">
        {% for ticket in tickets %}
            <div class="col-xl-3 col-md-6">
                <div class="card
                 bg-{{ ticket.status.classe }}
                 text-white mb-4">
                    <div class="card-body">{{ ticket.designation }} </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <p class="small text-white stretched-link" >{{ ticket.description }}</p>
                        <p class="small text-white stretched-link" >
                            depratements :
                            {% for departement in ticket.departements %}
                                {{ departement.designation }} *
                            {% endfor %}
                        </p>
{#                        <a class="small text-white stretched-link" href="{{ path('tododb.delete', {'id': todo.id}) }}">Delete</a>#}
                        <div class="small text-white"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
        {% endfor %}
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination">#}
{#                {% if page > 1 %}#}
{#                    <li class="page-item"><a class="page-link" href="{{ path('tododb.list', {'page': page - 1, 'nbre': nbre})}}">Previous</a></li>#}
{#                {% endif %}#}
{#                {% for i in range(1, nbrePages) %}#}
{#                    <li class="page-item"><a class="page-link" href="{{ path('tododb.list', {'page': i, 'nbre': nbre})}}">{{ i }}</a></li>#}
{#                {% endfor %}#}
{#                {% if page < nbrePages %}#}
{#                    <li class="page-item"><a class="page-link" href="{{ path('tododb.list', {'page': page + 1, 'nbre': nbre})}}">Next</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}
    </div>
{% endblock %}