{% extends 'layout.html.twig' %}
{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for key, message in app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            {{  message }}
        </div>
    {% endfor %}
    <ol class="list-group">
    {% for todoName, todoDescription in app.session.get('todos') %}
        <li class="list-group-item">
            {{ todoName }} : {{ todoDescription }}
            <a href="{{ path('todo.delete', {'name': todoName}) }}">Delete</a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}